<% layout("layouts/boilerplate") %>
<% block("head").append(`<title>Listing:${listing.title}</title>`)
%>
<script> 
    const mapToken = "<%= process.env.MAP_TOKEN %>";
    const coordinates = "<%-JSON.stringify(listing.geometry.coordinates)%>";
    console.log(mapToken);
</script>
<body>
    <div class="container">
        <br><br><br>
        <div class="row">
            <div class="col-md-8 offset-md-3 mb-3">

                <h2 class=""><%= listing.title%></h2>
                <p><i>Owned By: <%= listing.owner.username %></i></p>
                <div class=""><img class="card-img-top" src="<%= listing.image.url%>"></div>
                <br>
                <div class=""><%= listing.description%></div>
                <div class=""><b><%= listing.price.toLocaleString("en-IN")%></b></div>
                <div class=""><%= listing.location%></div>
                <div class=""><%= listing.country%></div>
                <br>
                <% if(currUser && currUser._id.equals(listing.owner._id)){ %>
                <div class="row">
                    <form class="col-md-5 m-1 offfset-md-1" method="GET" action="/listings/<%=listing._id%>/edit">
                        <button class="btn btn-dark w-100">Edit listing</button>
                    </form>
                    <form class="col-md-5 m-1 offfset-md-1" method="POST" action="/listings/<%=listing._id%>?_method=DELETE">
                        <button class="btn btn-danger w-100">Delete listing</button>
                    </form>
                </div>
                <% } %>
            </div>
            
        </div>
        <div class="row">
            <div class="col-md-8 offset-md-3 mb-5">
                <% if(currUser){ %>
                <form action="/listings/<%=listing.id%>/reviews" method="POST" novalidate class="needs-validation">
                    <div class="mb-2 mt-2">
                        <fieldset class="starability-slot">
                            <legend>Give a rating:</legend>
                            <input type="radio" id="no-rate" class="input-no-rate" name="review[rating]" value="1" checked aria-label="No rating." />
                            <input type="radio" id="first-rate1" name="review[rating]" value="1" />
                            <label for="first-rate1" title="Terrible">1 star</label>
                            <input type="radio" id="first-rate2" name="review[rating]" value="2" />
                            <label for="first-rate2" title="Not good">2 stars</label>
                            <input type="radio" id="first-rate3" name="review[rating]" value="3" />
                            <label for="first-rate3" title="Average">3 stars</label>
                            <input type="radio" id="first-rate4" name="review[rating]" value="4" />
                            <label for="first-rate4" title="Very good">4 stars</label>
                            <input type="radio" id="first-rate5" name="review[rating]" value="5" />
                            <label for="first-rate5" title="Amazing">5 stars</label>
                          </fieldset>
                    </div>
                    <!-- <div class="mb-2">
                        <label for="rating" class="form-control form-range mb-1">Give a rating</label>
                         <input required class="form-control form-range" id="rating" type="range" min="1" max="5" name="review[rating]">
                        <div class="invalid-feedback"> No blank fields </div>
                    </div> -->
                    <div class="mb-2">
                        <legend for="content"  class="form-label mb-1">Write a small review:</legend>
                        <!-- <label for="content" class="form-label mb-1"> Write a small review: </label> -->
                        <textarea required class="form-control" id="content" name="review[content]" rows="3" cols="5"></textarea>
                        <div class="invalid-feedback"> No blank fields </div>
                    </div>
                    <button class="form-control mb-2 btn btn-outline-dark"> Submit the review </button>
                </form>
                <% } %>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8 offset-md-3 mb-5">
        
                
                    <% if(listing.reviews.length){ %>
                        <hr>
                        <h3 class="mb-2">All Reviews</h3>
                        <% for( let review of listing.reviews){ %>
                            <div class="card w-100 me-1 mb-2 ms-1">
                                <h5 class="ms-2 mt-1">
                                    <p class="starability-result mt-1" data-rating="<%= review.rating%>">
                                    </p>
                                    <i class="fa-regular fa-star">  </i>  @<%= review.author.username %> 
                                    <br><br>
                                    <p><%=review.content%> </p>
                                    <% if(currUser && currUser._id.equals(review.author._id)){ %>
                                        <form method="POST" action="/listings/<%=listing.id %>/reviews/<%= review.id %>?_method=DELETE">
                                            <button class="btn btn-danger w-30 mt-1 inline-block">Delete</button>
                                        </form>
                                    <% } %>

                                </h5>
                            </div>
                        <% } %>
                    <% } %>
        
            </div>
        </div>
        <!-- <div class="row">
            <div class="col-md-8 offset-md-3 mb-5">
                <h3>Where you'll be </h3>
                <div id="map"></div>
                <script>
                    // console.log(coordinates);
                    let cords = JSON.parse(coordinates);
                    console.log(cords);

                    mapboxgl.accessToken = mapToken ;
                    const map = new mapboxgl.Map({
                        container: 'map', // container ID
                        style: "mapbox://styles/mapbox/streets-v12",
                        center: cords, // starting position [lng, lat]
                        zoom: 9 // starting zoom
                    });
                   
                    const marker = new mapboxgl.Marker({ color: "red" })
                    .setLngLat(cords)
                    .setPopup(
                        new mapboxgl.Popup({ offset: 25}).setHTML(
                            `<h6>exact location provided after booking </h6>`
                        )
                    )
                    .addTo(map);
                </script>
            </div>
        </div> -->
    </div>
    
    
    
    <br><br>

</body>



