<% layout("layouts/boilerplate") %>
<% block("head").append(`<title>Listing:${listing.title}</title>`)
%>
<body>
    <div class="container">
        <br><br><br>
        <div class="row">
            <div class="col-md-8 offset-md-3 mb-5">

                <h2 class=""><%= listing.title%></h2>
                <div class="w-100"><img src="<%= listing.image%>"></div>
                <br>
                <div class=""><%= listing.description%></div>
                <div class=""><b><%= listing.price.toLocaleString("en-IN")%></b></div>
                <div class=""><%= listing.location%></div>
                <div class=""><%= listing.country%></div>
                <br>
         
                <div class="row">
                    <form class="col-md-4 m-1" method="GET" action="/listings/<%=listing._id%>/edit">
                        <button class="btn btn-dark w-100">Edit listing</button>
                    </form>
                    <form class="col-md-4 m-1" method="POST" action="/listings/<%=listing._id%>?_method=DELETE">
                        <button class="btn btn-danger w-100">Delete listing</button>
                    </form>
                </div>
            </div>
            
        </div>
    </div>
    
    
    
    <br><br>

</body>