<% layout("layouts/boilerplate") %>
<% block("head").append(`<title>Listing:${listing.title}</title>`)
%>
<body>
    <div class="container">
        <br><br><br>
        <div class="row">
            <div class="col-md-8 offset-md-3 mb-3">

                <h2 class=""><%= listing.title%></h2>
                <div class=""><img class="card-img-top" src="<%= listing.image%>"></div>
                <br>
                <div class=""><%= listing.description%></div>
                <div class=""><b><%= listing.price.toLocaleString("en-IN")%></b></div>
                <div class=""><%= listing.location%></div>
                <div class=""><%= listing.country%></div>
                <br>
         
                <div class="row">
                    <form class="col-md-5 m-1 offfset-md-1" method="GET" action="/listings/<%=listing._id%>/edit">
                        <button class="btn btn-dark w-100">Edit listing</button>
                    </form>
                    <form class="col-md-5 m-1 offfset-md-1" method="POST" action="/listings/<%=listing._id%>?_method=DELETE">
                        <button class="btn btn-danger w-100">Delete listing</button>
                    </form>
                </div>
            </div>
            
        </div>
        <div class="row">
            <div class="col-md-8 offset-md-3 mb-5">
                <form action="/listings/<%=listing.id%>/reviews" method="POST" novalidate class="needs-validation">
                    <div class="mb-2">
                        <label for="rating" class="form-control form-range mb-1">Give a rating</label>
                         <input required class="form-control form-range" id="rating" type="range" min="1" max="5" name="review[rating]">
                        <div class="invalid-feedback"> No blank fields </div>
                    </div>
                    <div class="mb-2">
                        <label for="content" class="form-label mb-1"> Write a small review: </label>
                        <textarea required class="form-control" id="content" name="review[content]" rows="3" cols="5"></textarea>
                        <div class="invalid-feedback"> No blank fields </div>
                    </div>
                    <button class="form-control mb-2 btn btn-outline-dark"> Submit the review </button>
                </form>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8 offset-md-3 mb-5">
        
                
                    <% if(listing.reviews.length){ %>
                        <hr>
                        <h3 class="mb-2">All Reviews</h3>
                        <% for( let review of listing.reviews){ %>
                            <div class="card w-100 me-1 mb-2 ms-1">
                                <h5 class="ms-2 mt-1">
                                    <%= review.rating%> <i class="fa-regular fa-star">  </i>   <%=review.content%> 
                                    <form method="POST" action="/listings/<%=listing.id %>/reviews/<%= review.id %>?_method=DELETE">
                                        <button class="btn btn-danger w-30 mt-1 inline-block">Delete</button>
                                    </form>
                                </h5>
                            </div>
                        <% } %>
                    <% } %>
        
            </div>
        </div>
    </div>
    
    
    
    <br><br>

</body>



